<p>musiclist works!</p>
<p>{{songs | json }}</p>
<div *ngFor="let item of songs.items">
  <div>
  
  <button>add to playlist</button>
  </div>
  
  <button (click)="back()">back</button>

<p>player works!</p>

<mat-tab-group animationDuration="0ms" >
  
  <mat-tab *ngFor="let item of songs.items">
    <ng-template mat-tab-label>
      {{item.letter}}
    </ng-template>
     <ol>
	   <li *ngFor="let song of item.items">  <a class="music-title" [routerLink]="['/player', song.mp3.instrumental, song.mp3.vocal, song.mp4.karaoke, song.mp4.music_video]" routerLinkActive="active">{{song.title}}</a></li>
	 </ol>
  </mat-tab>

</mat-tab-group>





</div>  